:root{
  --gray-color: #1e1e1e;
  --gray-lighter-color: #252525;
  --background-color: #060503;
  --orange-color: #f0503b;
  --orange-lighter-color: #f06957;
  --text-color: #d8d8d8;
  --p-color: #999;

  --std-space: 8px;
  --std-padding:  44px 44px 44px 44px;
  --big-padding:  64px 64px 64px 64px;

  --std-radius: 4px;

  --std-border: 1px #999 solid;
}

*{
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}


.slider::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.slider::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #111;
}
.slider::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--gray-color);
}
.slider::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}



a{
  color: var(--text-color);
  text-decoration: none;    
}

h1, h2, h3,
h4, h5, h6{
  text-transform: uppercase;
  font-weight: 100;
}

h1{
  font-size: 108px;
}

h2{
  font-size: 64px;
}

h4{
  font-size: 24px;
}

p{
  color: var(--p-color);
  line-height: 1.4;
}

mark{
  background-color: var(--orange-color);
}

body{
  background-color: var(--background-color);
}

header,
footer,
main{
  padding: 0 20px;
}

main > *{
  margin: var(--std-space) auto ;
}


.support_slider  img{
  height: 54px;
}